statemachine/Blaster-control.asl.json
{
  "Comment": "Dialer controller",
  "StartAt": "ActivateDialer",
  "States": {
    "ActivateDialer": {
      "Comment": "Activate dialer",
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:putParameter",
      "Parameters": {
        "Name": "${ParameterBlasterStatus}",
        "Overwrite": true,
        "Value": "True"
      },
      "Next": "GetConfig",
      "ResultPath": null
    },
    "GetConfig": {
      "Comment": "Get configuration parameters from Parameters",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "deactivateDialerDueError"
        }
      ],
      "Parameters": {
        "FunctionName": "${BlastergetConfigArn}",
        "Payload": {
          "Input.$": "$"
        }
      },
      "Next": "Dialer-Monitor",
      "ResultPath": "$.params",
      "ResultSelector": {
        "totalRecords.$": "$.Payload.totalRecords",
        "table-activedialing.$": "$.Payload.table-activedialing",
        "contactflow.$": "$.Payload.contactflow",
        "connectid.$": "$.Payload.connectid",
        "queue.$": "$.Payload.queue",
        "concurrentCalls.$": "$.Payload.concurrentCalls",
        "dialerThreads.$": "$.Payload.dialerThreads",
        "timeOut.$": "$.Payload.timeOut"
      }
    },
    "Dialer-Monitor": {
      "Type": "Parallel",
      "Next": "dialerFinished",
      "Branches": [
        {
          "StartAt": "Dialer",
          "States": {
            "Dialer": {
              "Type": "Map",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "deactivateDialer-MapError"
                }
              ],
              "ResultPath": null,
              "ItemsPath": "$.params.dialerThreads",
              "InputPath": "$",
              "Parameters": {
                "params.$": "$.params"
              },
              "Iterator": {
                "StartAt": "GetDialerStatus",
                "States": {
                  "GetDialerStatus": {
                    "Type": "Task",
                    "Parameters": {
                      "Name": "${ParameterBlasterStatus}"
                    },
                    "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
                    "Next": "isDialerActive",
                    "ResultSelector": {
                      "value.$": "$.Parameter.Value"
                    },
                    "ResultPath": "$.params.activeBlaster"
                  },
                  "getContacts": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Parameters": {
                      "Payload": {
                        "params.$": "$.params",
                        "availAgents": 1
                      },
                      "FunctionName": "${BlastergetContactsArn}"
                    },
                    "ResultSelector": {
                      "entries.$": "$.Payload.contacts",
                      "EndOfList.$": "$.Payload.EndOfList"
                    },
                    "ResultPath": "$.contacts",
                    "Next": "isListEmpty",
                    "Catch": [
                      {
                        "ErrorEquals": [
                          "States.ALL"
                        ],
                        "Next": "Fail"
                      }
                    ]
                  },
                  "isListEmpty": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Variable": "$.contacts.EndOfList",
                        "StringEquals": "False",
                        "Next": "Dial"
                      }
                    ],
                    "Default": "Success"
                  },
                  "Fail": {
                    "Type": "Fail"
                  },
                  "Dial": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                    "Parameters": {
                      "FunctionName": "${BlasterdialArn}",
                      "Payload": {
                        "params.$": "$.params",
                        "contacts.$": "$.contacts.entries[0]",
                        "TaskToken.$": "$$.Task.Token"
                      }
                    },
                    "Next": "GetDialerStatus",
                    "TimeoutSeconds": 1800,
                    "ResultPath": null,
                    "Catch": [
                      {
                        "ErrorEquals": [
                          "States.Timeout"
                        ],
                        "Comment": "TimeOut",
                        "Next": "GetDialerStatus",
                        "ResultPath": null
                      },
                      {
                        "ErrorEquals": [
                          "States.ALL"
                        ],
                        "Next": "Fail",
                        "ResultPath": null
                      }
                    ]
                  },
                  "isDialerActive": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "And": [
                          {
                            "Variable": "$.params.activeBlaster.value",
                            "StringEquals": "True"
                          }
                        ],
                        "Next": "getContacts"
                      }
                    ],
                    "Default": "Success"
                  },
                  "Success": {
                    "Type": "Succeed"
                  }
                },
                "ProcessorConfig": {
                  "Mode": "DISTRIBUTED",
                  "ExecutionType": "STANDARD"
                }
              },
              "Label": "Dialer",
              "MaxConcurrency": 1000,
              "ToleratedFailurePercentage": 50,
              "Next": "deactivateDialer"
            },
            "deactivateDialer": {
              "Comment": "Deactivate dialer",
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:ssm:putParameter",
              "Parameters": {
                "Name": "${ParameterBlasterStatus}",
                "Overwrite": true,
                "Value": "False"
              },
              "End": true
            },
            "deactivateDialer-MapError": {
              "Comment": "Deactivate dialer due a problem",
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:ssm:putParameter",
              "Parameters": {
                "Name": "${ParameterBlasterStatus}",
                "Overwrite": true,
                "Value": "False"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "GetDialerStatus-Monitor",
          "States": {
            "GetDialerStatus-Monitor": {
              "Type": "Task",
              "Parameters": {
                "Name": "${ParameterBlasterStatus}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "ResultSelector": {
                "value.$": "$.Parameter.Value"
              },
              "ResultPath": "$.params.activeBlaster",
              "Next": "GetConnectStatus"
            },
            "GetConnectStatus": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "Payload": {
                  "params.$": "$.params"
                },
                "FunctionName": "${BlastergetConnectStatusArn}"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ],
              "ResultPath": "$.connect",
              "ResultSelector": {
                "queueEnabled.$": "$.Payload.queueEnabled",
                "workingHours.$": "$.Payload.workingHours"
              },
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "ThreadDeactivateDialer"
                }
              ],
              "Next": "isDialerActive-Monitor"
            },
            "isDialerActive-Monitor": {
              "Type": "Choice",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.params.activeBlaster.value",
                      "StringEquals": "True"
                    },
                    {
                      "Variable": "$.connect.queueEnabled",
                      "StringEquals": "True"
                    },
                    {
                      "Variable": "$.connect.workingHours",
                      "StringEquals": "True"
                    }
                  ],
                  "Next": "Wait"
                }
              ],
              "Default": "ThreadDeactivateDialer"
            },
            "ThreadDeactivateDialer": {
              "Type": "Task",
              "Parameters": {
                "Name": "${ParameterBlasterStatus}",
                "Overwrite": true,
                "Value": "False"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:putParameter",
              "Comment": "Set activeDialer parameter to false to finish dialing process.",
              "End": true
            },
            "Wait": {
              "Type": "Wait",
              "Seconds": 60,
              "Next": "GetDialerStatus-Monitor"
            }
          }
        }
      ],
      "ResultPath": null
    },
    "deactivateDialerDueError": {
      "Comment": "Deactivate dialer due a problem",
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:putParameter",
      "Parameters": {
        "Name": "${ParameterBlasterStatus}",
        "Overwrite": true,
        "Value": "False"
      },
      "Next": "dialerError"
    },
    "dialerFinished": {
      "Type": "Succeed"
    },
    "dialerError": {
      "Type": "Fail"
    }
  }
}